.git
.gitignore

__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.pytest_cache/

.idea/
.vscode/
*.DS_Store

*.md
Advanced Features to Consider.txt
Book_Recommender_Project_SEC.txt

pyproject.toml
requirements-dev.txt
.python-version
uv.lock

data/raw/

tests/
